*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  background-color: #111;
}
.container{
  height: 200px;
  width: 300px;
  background-color: #333;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 230px auto;
}
h1{
  text-align: center;
  margin-top: 12px;
}
input{
  height: 30px;
  width: 240px;
  margin-left: 30px;
  margin-top: 20px;
  color: #111;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 6px;
}
input::placeholder{
  font-size: 15px;
  color: #111;
}
input:focus{
  outline: none;
}
.buttons{
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button{
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bolder;
  color: #111;
  cursor: pointer;
}
button:active{
  width: 90px;
}