*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111;
}
.cont{
  height: 300px;
  width: 450px;
  background-color: #333;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 150px auto;
}
.inputtextarea{
  height:210px;
  width: 100%;
}
textarea{
  height: 140px;
  max-height: 180px;
  margin-top: 20px;
  min-height: 120px;
  min-width: 98%;
  max-width: 98%;
  width: 98%;
  margin-left: 1%;
  padding-left: 5px;
  font-size: 16px;
  border: none;
}
textarea:focus{
  outline: none;
}
.countchar{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 23px;
  font-weight: bolder;
  color: aliceblue;
}